{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>

    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% for film in object_list %}
    <div class="film-entry">
        <a href="{% url 'movie_detail' film.pk %}">{{ film.title }}</a>
        <p></p>
    </div>
{% endfor %}
{% endblock content %}